:root {
  --primary-text-color: #fbfbfb;
  --primary-bg-color: #0e1823;
  --default-btn-color: rgba(27, 65, 75, 0.5);
  --accent-color: #1b414b;
  --default-transition-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
