<!--======== MOBILE MENU =======-->
<div class="mobile-menu is-open">
  <div class="mobile-menu-container container">
    <div class="mobile-menu-box">
      <div class="mobile-box-menu-nav">
        <nav class="mobile-menu-navigation">
          <a class="page-mobile-logo" href="./index.html"> yachtjet </a>
        </nav>
        <button class="mobile-menu-close">
          <svg class="modal-close-btn-icon" width="16" height="16">
            <use href="./img/icons-mobile.svg#icon-close-btn"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-box-button">
        <ul class="mobile-button-menu-list">
          <li class="mobile-button-menu-item">
            <button type="button" class="button-in-mobile current-mobile">
              <a class="mobile-menu-link" href="./index.html">About</a>
            </button>
          </li>
          <li class="mobile-button-menu-item">
            <button type="button" class="button-in-mobile">
              <a class="mobile-menu-link" href="#yachts">Yachts</a>
            </button>
          </li>
          <li class="mobile-button-menu-item">
            <button type="button" class="button-in-mobile">
              <a class="mobile-menu-link" href="#reviev">Reviews</a>
            </button>
          </li>
        </ul>
      </div>
      <!-- SOC LINK MOBILE -->
      <div class="container-svg-mobile">
        <ul class="header-soc-list-mobile">
          <li class="header-soc-item-mobile">
            <a
              class="header-soc-link-mobile"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                <use href="/img/icons-mobile.svg#icon-instagram-link"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="header-soc-link-mobile"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                <use href="/img/icons-mobile.svg#icon-Vector-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="header-soc-link-mobile"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                <use href="/img/icons-mobile.svg#icon-facebook-link"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
