<!--======== MOBILE MENU =======-->
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container container">
    <div class="mobile-menu-box">
      <div class="mobile-box-menu-nav">
        <nav class="mobile-menu-navigation">
          <a class="page-mobile-logo" href="./index.html"> yachtjet </a>
        </nav>
        <button class="mobile-menu-close js-close-menu">
          <svg class="modal-close-btn-icon" width="16" height="16">
            <use href="./img/icons-mobile.svg#icon-close-btn"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-box-button">
        <ul class="mobile-button-menu-list">
          <li class="mobile-button-menu-item">
            <a class="mobile-menu-link button-in-mobile" href="#about">About</a>
          </li>
          <li class="mobile-button-menu-item">
            <a class="mobile-menu-link button-in-mobile" href="#yachts">Yachts</a>
          </li>
          <li class="mobile-button-menu-item">
            <a class="mobile-menu-link button-in-mobile" href="#reviews">Reviews</a>
          </li>
        </ul>
      </div>
      <!-- SOC LINK MOBILE -->
      <div class="container-svg-mobile">
        <ul class="header-soc-list-mobile">
          <li class="header-soc-item-mobile">
            <a class="header-soc-link-mobile" href="https://www.instagram.com/goitclub/"
              aria-label="Read more on instagram" target="_blank">
              <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                <use href="/img/icons-mobile.svg#icon-instagram-link"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="header-soc-link-mobile" href="https://www.youtube.com/c/GoIT" aria-label="Read more on youtube"
              target="_blank">
              <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                <use href="/img/icons-mobile.svg#icon-Vector-youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="header-soc-link-mobile" href="https://www.facebook.com/goITclub/"
              aria-label="Read more on facebook" target="_blank">
              <svg class="svg-soc-container-mobile-menu" width="20" height="20">
                <use href="/img/icons-mobile.svg#icon-facebook-link"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>