<section class="page-footer">
  <div class=" container footer-container">
    <div class="footer-box">
      <div class="footer-logo-nav-box">
        <a href="./index.html" class="logo footer-logo">yachtjet</a>
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="section-list">
              <a href="#about" class="footer-btn-about">ABOUT</a>
            </li>
            <li class="section-list">
              <a href="#yachts" class="footer-btn-yachts">YACHTS</a>
            </li>
            <li class="section-list">
              <a href="#reviews" class="footer-btn-reviews">REVIEWS</a>
            </li>
          </ul>
        </nav>
        <div class="footer-social-icon-box">
          <ul class="footer-social-list">
            <li class="footer-social-links">
              <a class="social-link" href="https://www.instagram.com/goitclub/" aria-label="Read more on instagram"
                target="_blank">
                <svg class="footer-icon" width="24" height="24">
                  <use href="/img/symbol-defs.svg#icon-ph_instagram-logo-fill"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-links">
              <a class="social-link" href="https://www.youtube.com/c/GoIT" aria-label="Read more on youtube"
                target="_blank">
                <svg class="footer-icon" width="24" height="24">
                  <use href="/img/symbol-defs.svg#icon-entypo-social_youtube-with-circle"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-links">
              <a class="social-link" href="https://www.facebook.com/goITclub/" aria-label="Read more on facebook"
                target="_blank">
                <svg class="footer-icon" width="24" height="24">
                  <use href="/img/symbol-defs.svg#icon-ic_outline-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <h2 class="footer-text">
        No matter which yacht you choose, our experienced crew will ensure
        that your journey is smooth and enjoyable.
      </h2>
      <div class="footer-copyright">
        <div class="text-copyright">
          <p class="text-copyright-yacht">2023. Yacht Adventures</p>
          <a class="text-copyright-privacy" href="" target="_blank">Privacy Police</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>