<header class="head-section">
  <div class="head-container container">
    <div class="head-box">
      <a class="head-nav-logo" href="./index.html">yachtjet</a>
      <nav class="head-nav">
        <ul class="head-nav-list">
          <li class="head-nav-item">
            <a href="#about" class="head-nav-link">About</a>
          </li>
          <li class="head-nav-item">
            <a href="#yachts" class="head-nav-link">Yachts</a>
          </li>
          <li class="head-nav-item">
            <a href="#reviews" class="head-nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <ul class="head-social-list">
        <li class="head-social-item">
          <a href="https://www.youtube.com/c/GoIT" aria-label="Read more on youtube" target="_blank"
            class="mobile-social-link">
            <svg class="head-social-icon" width="24" height="24">
              <use href="/img/head/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="head-social-item">
          <a href="https://www.facebook.com/goITclub/" aria-label="Read more on facebook" target="_blank"
            class="mobile-social-link">
            <svg class="head-social-icon" width="24" height="24">
              <use href="/img/head/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="head-social-item">
          <a href="https://www.instagram.com/goitclub/" aria-label="Read more on instagram" target="_blank"
            class="mobile-social-link">
            <svg class="head-social-icon" width="24" height="24">
              <use href="/img/head/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button class="head-btn-icon js-open-menu" type="button" id="modalmenubtn" aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="head-menu-mob" width="28" height="28">
          <use href="/img/head/icons.svg#icon-menu-mob"></use>
        </svg>

      </button>
    </div>
  </div>
</header>