<header class="head-section">
  <div class="head-container container">
    <a class="head-nav-logo" href="/">yachtjet</a>
    <nav class="head-nav">
      <ul class="head-nav-list">
        <li class="head-nav-item">
          <a href="#about" class="head-nav-link">About</a>
        </li>
        <li class="head-nav-item">
          <a href="#yachts" class="head-nav-link">Yachts</a>
        </li>
        <li class="head-nav-item">
          <a href="#reviews" class="head-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <ul class="head-social-list">
      <li class="head-social-item">
        <svg class="head-social-icon" width="24" height="24">
          <use href="../img/head/icons.svg#icon-youtube"></use>
        </svg>
      </li>
      <li class="head-social-item">
        <svg class="head-social-icon" width="24" height="24">
          <use href="../img/head/icons.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="head-social-item">
        <svg class="head-social-icon" width="24" height="24">
          <use href="../img/head/icons.svg#icon-instagram"></use>
        </svg>
      </li>
    </ul>

    <svg class="head-menu-mob" width="28" height="28">
      <use href="../img/head/icons.svg#icon-menu-mob"></use>
    </svg>
  </div>
</header>
