<header class="head-section">
  <div class="head-container container">
    <div>
      <nav class="head-nav">
        <a class="head-nav-logo" href="/">yachtjet</a>
        <ul class="head-nav-list">
          <li class="head-nav-item">
            <a href="#about" class="head-nav-link">About</a>
          </li>
          <li class="head-nav-item">
            <a href="#yachts" class="head-nav-link">Yachts</a>
          </li>
          <li class="head-nav-item">
            <a href="#reviews" class="head-nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="head-social-box">
        <ul class="head-social-list">
          <li class="head-social-item">
            <svg class="head-social-icon" width="24" height="24">
              <use href="/img/head/icons.svg/#icon-youtube"></use>
            </svg>
          </li>
          <li class="head-social-item">
            <svg class="head-social-icon" width="24" height="24">
              <use href="/img/head/icons.svg/#icon-facebook"></use>
            </svg>
          </li>
          <li class="head-social-item">
            <svg class="head-social-icon" width="24" height="24">
              <use href="/img/head/icons.svg/#icon-instagram"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>