<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      Explore the High <br class="hero-title-break" />Seas with
      <br class="hero-title-break-second" />Our Luxury Yacht Rentals
    </h1>
    <p class="hero-text">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark
      <br class="hero-text-break" />on an unforgettable journey surrounded by
      breathtaking <br class="hero-text-break" />views and state-of-the-art
      amenities.
    </p>
    <a class="hero-anchor" href="#rent">Yacht rental</a>
  </div>
</section>