<section class="yahts-section">
  <div class="yahts-container container">
    <h2 class="yahts-title" id="yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yachts-item">
        <picture>
          <source srcset="
              /img/our-yahts/yaht-one-desc.jpg    1x,
              /img/our-yahts/yaht-one-desc-2x.jpg 2x
            " media="(min-width:1280px)" />
          <source srcset="
              /img/our-yahts/yaht-one-tab.jpg    1x,
              /img/our-yahts/yaht-one-tab-2x.jpg 2x
            " media="(min-width:768px)" />
          <source srcset="
              /img/our-yahts/yaht-one-tab.jpg    1x,
              /img/our-yahts/yaht-one-tab-2x.jpg 2x
            " media="(max-width:767px)" />
          <img class="yachts-item-img" src="/img/our-yahts/yaht-three-desc.jpg" alt="Our yahts" />
        </picture>

        <div class="yachts-table-cont">
          <div class="yachts-option-item">
            <h3 class="yachts-title-item">ARROW</h3>
            <p class="yachts-class-item">LUXURY YAHTS</p>
          </div>

          <div class="yahts-table">
            <div class="yahts-row">
              <div class="yahts-table-spec">LENGTH</div>
              <div class="yahts-table-value">48m(155ft)</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">BUILDER</div>
              <div class="yahts-table-value">Admiral</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">BUILT</div>
              <div class="yahts-table-value">2021</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">GUESTS</div>
              <div class="yahts-table-value">11 in 5 cabins</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">PRICE</div>
              <div class="yahts-table-value">€33,500,000</div>
            </div>
          </div>
        </div>
      </li>

      <li class="yachts-item">
        <picture>
          <source srcset="
              /img/our-yahts/yaht-two-desc.jpg    1x,
              /img/our-yahts/yaht-two-desc-2x.jpg 2x
            " media="(min-width:1280px)" />
          <source srcset="
              /img/our-yahts/yaht-two-tab.jpg    1x,
              /img/our-yahts/yaht-two-tab-2x.jpg 2x
            " media="(min-width:768px)" />

          <img class="yachts-item-img" src="/img/our-yahts/yaht-two-desc.jpg" alt="Our yahts" />
        </picture>

        <div class="yachts-table-cont">
          <div class="yachts-option-item">
            <h3 class="yachts-title-item">BENETTI OASIS 40M BO122</h3>
            <p class="yachts-class-item">LUXURY YAHTS</p>
          </div>

          <div class="yahts-table">
            <div class="yahts-row">
              <div class="yahts-table-spec">LENGTH</div>
              <div class="yahts-table-value">41m (133ft)</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">BUILDER</div>
              <div class="yahts-table-value">Benetti</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">BUILT</div>
              <div class="yahts-table-value">2025</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">GUESTS</div>
              <div class="yahts-table-value">10 in 5 cabins</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">PRICE</div>
              <div class="yahts-table-value">€23,210,000</div>
            </div>
          </div>
        </div>
      </li>
      <li class="yachts-item">
        <picture>
          <source srcset="
              /img/our-yahts/yaht-three-desc.jpg    1x,
              /img/our-yahts/yaht-three-desc-2x.jpg 2x
            " media="(min-width:1280px)" />

          <img class="yachts-item-img" src="/img/our-yahts/yaht-three-desc.jpg" alt="Our yahts" />
        </picture>

        <div class="yachts-table-cont">
          <div class="yachts-option-item">
            <h3 class="yachts-title-item">BELLE ANNA</h3>
            <p class="yachts-class-item">LUXURY YAHTS</p>
          </div>

          <div class="yahts-table">
            <div class="yahts-row">
              <div class="yahts-table-spec">LENGTH</div>
              <div class="yahts-table-value">50m(155ft)</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">BUILDER</div>
              <div class="yahts-table-value">ISA</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">BUILT</div>
              <div class="yahts-table-value">2012</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">GUESTS</div>
              <div class="yahts-table-value">12 in 6 cabins</div>
            </div>
            <div class="yahts-row">
              <div class="yahts-table-spec">PRICE</div>
              <div class="yahts-table-value">€21,000,000</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent" class="yahts-btn">Yacht rental</a>
  </div>
</section>