.aboutus {
  margin-top: -59px;
  padding: 0;
}

.aboutus .aboutus-container {
  border-radius: 24px;
  max-width: 335px;
  max-height: 675px;
  padding: 0;
  background: #fbfbfb;
}

.aboutus-position {
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}

.cutter {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 40px;
  max-width: 282px;
}

.text-block {
  max-width: 295px;
}

.first-block {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}

.second-block {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .aboutus {
    margin-top: -67px;
  }

  .aboutus .aboutus-container {
    max-width: 704px;
    max-height: 675px;
    margin-top: -67px;
    padding: 0;
  }

  .aboutus-position {
    padding: 50px 32px 0 32px;
    margin-bottom: 50px;
  }

  .cutter {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 50px;
    max-width: 540px;
  }

  .text-block {
    max-width: 389px;
  }

  .first-block {
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 360px;
  }

  .second-block {
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
  }
}

@media screen and (min-width: 1280px) {
  .aboutus {
    margin-top: -35px;
  }

  .aboutus .aboutus-container {
    border-radius: 24px;
    max-width: 1180px;
    padding: 0;
  }

  .aboutus-position {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 50px 100px;
    margin: 0;
  }

  .cutter {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 537px;
    margin: 0;
  }

  .text-block {
    max-width: 354px;
  }

  .first-block {
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    max-width: 335px;
  }

  .second-block {
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
  }
}