/*Основні*/

body {
  font-family: 'Inter', sans-serif;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*Основні дісплеї*/

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*Footer*/
.page-footer {
  background-color: #0e1823;
  padding: 80px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #1b414b;
  border-radius: 16px;
}

.footer-logo {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 20px;
  text-align: center;
  padding-right: 39px;
}

.footer-nav {
  margin-bottom: 40px;
  position: relative;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  margin: 0;
}

.footer-btn-about,
.footer-btn-yachts,
.footer-btn-reviews {
  display: inline-block;
  padding: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.3);
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.footer-btn-about:hover,
.footer-btn-yachts:hover,
.footer-btn-reviews:hover {
  background-color: #fbfbfb;
  color: #1b414b;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  list-style: none;
  margin-top: 80px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: white;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  text-align: center;
  padding: 0 38px;
}

.text-copyright {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.footer-copyright {
  margin-top: 82px;
  text-align: center;
}

.text-copyright-yacht,
.text-copyright-privacy {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding: 150px 0;
  }

  .footer-container {
    padding: 16px;
    width: 736px;
    height: 418px;
    border-radius: 16px;
    align-items: normal;
  }

  .footer-logo {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #fbfbfb;
    padding-right: 110px;
  }

  .footer-nav {
    margin: 50px 48px 96px 48px;
  }

  .footer-nav-list {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0;
    margin: 0;
  }

  .footer-btn-about,
  .footer-btn-yachts,
  .footer-btn-reviews {
    display: inline-block;
    padding: 15px 25px;
    background-color: rgba(251, 251, 251, 0.3);
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    width: 91px;
    height: 40px;
  }
  .footer-social {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    display: flex;
  }

  .footer-social-list {
    margin-top: 0;
  }

  .footer-text {
    font-size: 32px;
    padding: 0 48px;
  }

  .text-copyright {
    gap: 32px;
  }

  .footer-copyright {
    margin-top: 99px;
  }

  .text-copyright-yacht,
  .text-copyright-privacy {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    border-radius: 24px 24px 0 0;
    width: 1230px;
    height: 418px;
  }

  .footer-logo {
    padding-right: 315px;
  }

  .footer-nav {
    margin: 50px 49px 96px 49px;
  }

  .footer-social {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    display: flex;
  }

  .footer-text {
    font-size: 32px;
    padding: 0 268px;
  }
}
