.container {
  max-width: 375px;
}

.head-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);

  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 335px;
}

.head-container {
  max-width: 375px;
}

.head-nav-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
  cursor: pointer;
  padding: 13px 0;
}

.head-menu-mob {
  fill: transparent;
  stroke: #1b414b;
  cursor: pointer;
  box-sizing: border-box;
}

.head-btn-icon {
  background-color: transparent;
  border: none;
}

@media (max-width: 767px) {

  .head-nav-list,
  .head-social-list {
    display: none;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .head-box {
    max-width: 704px;
  }

  .head-btn-icon {
    display: none;
  }

  .head-nav-logo {
    font-size: 20px;
    letter-spacing: -0.03em;
  }

  .head-menu-mob {
    display: none;
  }

  .head-nav-list {
    display: flex;
    gap: 4px;
  }

  .head-nav-item {
    border-radius: 8px;
    background-color: rgba(27, 65, 75, 0.5);

    font-size: 9px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;


    cursor: pointer;
    transition: all 0.3s ease;

    width: 91px;

  }

  .head-nav-item:hover,
  .head-nav-item:focus {
    background-color: #1b414b;
  }

  .head-nav-link {
    padding: 15px 24px 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .head-social-item {
    transition: all 0.3s ease;
  }

  .head-social-icon {
    fill: #1b414b;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .head-social-icon:hover,
  .head-social-icon:focus {
    fill: #062730;
  }
}

/* DESCTOP */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .head-box {
    max-width: 1080px;
  }


}