/* ---------------------------MOBIL---------------------------- */
.container {
  max-width: 375px;
}

.yahts-section {}

.yahts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 375px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 180px;
}

.yahts-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 300px;
  margin-bottom: 40px;
}

.yachts-list {
  display: flex;
  gap: 32px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {

  .yachts-item:nth-child(2),
  .yachts-item:nth-child(3) {
    display: none;
  }
}

.yachts-item {
  background-color: #fbfbfb;
  border-radius: 24px;
}

.yachts-item-img {
  border-radius: 24px;
  padding: 16px 16px 32px;
}

.yachts-option-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
}

.yachts-title-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.yachts-class-item {
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.yachts-table-cont {
  padding: 0 32px 32px;
}

.yahts-table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6px;
}

.yahts-row {
  display: contents;
}

.yahts-table-spec {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.yahts-table-value {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
  white-space: nowrap;
}

.yahts-btn {
  border: 1px solid rgba(251, 251, 251, 0.35);
  background-color: transparent;
  border-radius: 15px;
  padding: 14px 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  cursor: pointer;
  transition: all 0.3s ease;
}

.yahts-btn:hover,
.yahts-btn:after {
  background-color: #fbfbfb;
  color: #1b414b;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .yahts-container {
    padding-bottom: 75px;
    padding-top: 426px;
  }

  .yachts-list {
    margin-bottom: 50px;
  }

  .yahts-title {
    font-size: 48px;
    max-width: 612px;
    margin-bottom: 75px;
  }

  .yachts-item:nth-child(3) {
    display: none;
  }

  .yachts-title-item {
    font-size: 16px;
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .yachts-class-item {
    font-size: 13px;
  }

  .yahts-btn {
    padding: 16px 40px;
    font-size: 18px;
    line-height: 1.1;
  }
}

/* DESCTOP */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .yahts-container {
    padding-top: 305px;
  }

  .yahts-title {
    max-width: 688px;
  }

  .yachts-item:nth-child(3) {
    display: inline-block;
  }
}