.rentayacht-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 40px;
}

.rentayacht-input {
  width: 100%;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 12px;
  padding: 14px 14px 14px 18px;
  max-width: 335px;
  height: 42px;
  background-color: #0e1823;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  margin-bottom: 18px;
}

.rentayacht-input::placeholder,
.rentayacht-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
}

.rentayacht-textarea {
  background-color: #0e1823;
  border: 1px solid rgba(251, 251, 251, 0.2);
  outline: transparent;
  border-radius: 12px;
  padding-top: 14px;
  padding-left: 18px;
  max-width: 335px;
  height: 108px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(251, 251, 251, 0.4);
  margin-bottom: 40px;
}

.rentayacht-btn:focus,
.rentayacht-textarea:focus,
.rentayacht-input:focus {
  outline: transparent;
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.rentayacht-picture {
  display: block;
  overflow: hidden;
  border-radius: 24px;
}

.rentayacht-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 50px;
}

.rentayacht-block {
  order: 1;
}

.rentayacht-btn {
  border-radius: 15px;
  padding: 14px 44px;
  width: 122px;
  height: 46px;
  background: #1b414b;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .rentayacht-block {
    width: 472px;
    order: 1;
  }

  .rentayacht-title {
    font-size: 48px;
    color: #fbfbfb;
    margin-bottom: 50px;
  }

  .rentayacht-input {
    max-width: 472px;
  }
  .rentayacht-btn {
    padding: 18px 75px;
    width: 194px;
    height: 56px;
  }

  .rentayacht-input {
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding: 14px 14px 14px 18px;
    max-width: 472px;
    height: 42px;
    background-color: #0e1823;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
    margin-bottom: 18px;
  }

  .rentayacht-textarea {
    background-color: #0e1823;
    border: 1px solid rgba(251, 251, 251, 0.2);
    outline: transparent;
    border-radius: 12px;
    padding-top: 14px;
    padding-left: 18px;
    max-width: 472px;
    height: 116px;
    font-size: 12px;
    line-height: 1.17;
    color: rgba(251, 251, 251, 0.4);
    margin-bottom: 40px;
    resize: none;
  }

  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .rentayacht-block {
    order: 1;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
